/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 350 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/



/*
.just_an_example {
	color: black;
}
*/



/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 350px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

@media screen and (max-width: 480px)  {

	.sidebar-btn {
		font-size: 30px !important;   
	}
	
	#inner-wrap {
		margin-top: 50px !important;
	}

	.mobile-header-outer {
		height: 50px !important;  
	}
	#mobile-logo img {	
		max-height: 43px !important; 
		margin-top: 3px !important;	
	}
	.btn-wrap {
		margin-top: -16px !important;		
	}
	
}/* don't delete this closing bracket */


/* Messages */
#mobile-item-nav ul li#calendar-personal-li:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f073";
}
/*img.boss-logo {
	display: none !important;
}*/
/*One menu on the right is enough*/
.boss-mobile-porfile-menu {
	display: none !important;
}
#buddypress #members-list li {
	clear: none !important;
	display: block;
	box-sizing: border-box;
	width: 25%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	border: 0;
}
#primary #members-list li .item-avatar img {
	display: block;
    width: unset !important;
    height: unset !important;	
    max-width: 100%;	
    height: auto;
	-webkit-border-radius: unset !important;
    border-radius: unset !important;
}
#primary #members-list li .item-avatar {
	display: flex;
	justify-content: center;
}
#primary #members-list li .item-avatar {
    width: unset !important;
	min-width: unset !important;
    display: flex;
	justify-content: center;	
}
#primary #members-list .item-avatar a {
    height: unset !important;
}
.thumbnail {
    display: block; /*no table cell*/
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;	
}
.thumbnail:hover {
    border: 1px solid #a79e9e;
}
#primary #members-list li .item {
    display: block !important; /*no table cell*/	
	width: unset !important;	
	padding-top: 9px;
	padding-bottom: 9px;	
	padding-left: calc((100% - 203px) / 2);
    color: #333;
	font-size: 15px;	
}
#primary #members-list li .item .item-title{
    padding-bottom: 5px;
}
/* Photos */
.menu-panel #header-menu > ul > li.menu-item-object-mpp-gallery > a:before,
.menu-panel #nav-menu > ul li.menu-item-object-mpp-gallery > a:not(.open-submenu):before,
.menu-panel #wp-admin-bar-my-account-mediapress > .ab-item:before {
    content: "\f302" !important;
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 19px;
    font-weight: 900;
}
/* Members */
.menu-panel #nav-menu > ul li.menu-item-26 > a:not(.open-submenu):before {
    content: "\f500" !important;
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 19px;
    font-weight: 900;
}
/*Under Profile->Activity always show Button to submit Activity Update*/
#buddypress #whats-new-options {   
    display: block !important;
}
#mobile-item-nav ul li#mediapress-personal-li:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
	content: "\f302" !important;
}
@media screen and (max-width: 768px) {
	#buddypress #members-list li {
		width: 33%;	
	}
	.item .item-title h3 {
		font-size: 18px;
		font-weight: 500;
	}
}
@media screen and (min-width: 1200px) {
	#buddypress #members-list li {
		width: 20%;	
	}
}
#buddypress table tr td.label {
    border-right: 1px solid rgba(0,0,0,0.05);
    width: 25%;
}
/*24.05.20 Revoke buddypress settings which cause line break for table rows in mobile profile*/
@media screen and (max-width: 380px) {
	#buddypress table.profile-fields tr td.label, #buddypress table.profile-fields tr td {
		border-right: 1px solid rgba(0,0,0,0.05) !important;		
		display: table-cell !important;	
		width: unset !important;
	}
	#buddypress table.profile-fields tr td.label {
		width: 30% !important;	
	}
}
/*07.07.20 Hide Apply Tab*/
#apply-personal-li {
	display: none;
}