/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 720 pixels (phones landscape)
	2.2 - MAXIMUM width of 350 pixels (phones portrait)
	2.3 - MINIMUM width of 721 pixels (tablets+)
	2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/



/*
.just_an_example {
	color: black;
}
*/



/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 720 pixels (phones landscape)
--------------------------------------------------------------*/
@media screen and (max-width: 720px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.2 - MAXIMUM width of 350 pixels (phones portrait)
--------------------------------------------------------------*/
@media screen and (max-width: 350px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.3 - MINIMUM width of 721 pixels (tablets+)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 1040 pixels (desktops and laptops)
--------------------------------------------------------------*/
@media screen and (min-width: 1040px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

@media screen and (max-width: 480px)  {

	.sidebar-btn {
		font-size: 30px !important;   
	}
	
	#inner-wrap {
		margin-top: 50px !important;
	}

	.mobile-header-outer {
		height: 50px !important;  
	}
	#mobile-logo img {	
		max-height: 43px !important; 
		margin-top: 3px !important;	
	}
	.btn-wrap {
		margin-top: -16px !important;		
	}
	
}/* don't delete this closing bracket */


/* Messages */
#mobile-item-nav ul li#calendar-personal-li:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f073";
}
#mobile-item-nav ul li#bp_better_messages_tab-personal-li:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f4ad";
}
/*img.boss-logo {
	display: none !important;
}*/
/*One menu on the right is enough*/
.boss-mobile-porfile-menu {
	display: none !important;
}
#buddypress #members-list {
	display: flex;
    flex-wrap: wrap;
	width: 100%;
}
	
#buddypress #members-list li {
	clear: none !important;
	display: block !important;
	box-sizing: border-box;
	flex: 1 1 25%;	
	max-width: 25%;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	padding-top: 1%;
	border: 0;
}
@media screen and (min-width: 1200px) {
	#buddypress #members-list li {
		flex: 1 1 20%;
		max-width: 20%;
	}
}
@media screen and (max-width: 768px) {	
	#buddypress #members-list li {
		flex: 1 1 33%;
		max-width: 33%;
	}
	
	.item .item-title h3 {
		font-size: 18px;
		font-weight: 500;
	}
}
#primary #members-list li .item-avatar img {
	display: block;
    width: 203px !important;
    height: auto !important;	
    max-width: 100%;	
	-webkit-border-radius: unset !important;
    border-radius: unset !important;
}
#primary #members-list li .item-avatar {
    width: unset !important;
	min-width: unset !important;
	display: flex !important;	
	justify-content: center;	
}

#primary #members-list .item-avatar a {
    height: unset !important;
}
.thumbnail {
    display: block; /*no table cell*/
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;	
}
.thumbnail:hover {
    border: 1px solid #a79e9e;
}
#primary #members-list li .item {
    display: block !important; /*no table cell*/	
	width: unset !important;	
	padding-top: 9px;
	padding-bottom: 9px;	
	padding-left: calc((100% - 203px) / 2);
    color: #333;
	font-size: 15px;	
}
#primary #members-list li .item .item-title{
    padding-bottom: 5px;
}
/* Photos */
.menu-panel #header-menu > ul > li.menu-item-object-mpp-gallery > a:before,
.menu-panel #nav-menu > ul li.menu-item-object-mpp-gallery > a:not(.open-submenu):before,
.menu-panel #wp-admin-bar-my-account-mediapress > .ab-item:before {
    content: "\f302" !important;
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 19px;
    font-weight: 900;
}
/* Members */
.menu-panel #nav-menu > ul li.menu-item-287 > a:not(.open-submenu):before {
    content: "\f500" !important;
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 19px;
    font-weight: 900;
}
/* Activity */
.menu-panel #nav-menu > ul li.menu-item-291 > a:not(.open-submenu):before {
    content: "\f10e" !important;
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 19px;
    font-weight: 900;
}

/*Under Profile->Activity always show Button to submit Activity Update*/
#buddypress #whats-new-options {   
    display: block !important;
}
#mobile-item-nav ul li#mediapress-personal-li:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
	content: "\f302" !important;
}
#buddypress table tr td.label {
    border-right: 1px solid rgba(0,0,0,0.05);
    width: 25%;
}
/*24.05.20 Revoke buddypress settings which cause line break for table rows in mobile profile*/
@media screen and (max-width: 380px) {
	#buddypress table.profile-fields tr td.label, #buddypress table.profile-fields tr td {
		border-right: 1px solid rgba(0,0,0,0.05) !important;		
		display: table-cell !important;	
		width: unset !important;
	}
	#buddypress table.profile-fields tr td.label {
		width: 30% !important;	
	}
}
/*07.07.20 Hide Upgrade Tab
#upgrade-personal-li {
	display: none;
}*/
/*12.07.20 Upgrade button, in progress*/
.upgrade-personal-inprogress {
	color: #fff;
    font-size: 14px;
    font-family: inherit;
    letter-spacing: 1.2px;
    padding: 12px 4px 11px;
    background-color: #4dcadd;
    border-radius: 4px;
    display: inline-block;
    width: 200px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    line-height: 17px;
    text-shadow: none;
}

.upgrade-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.upgrade-table td:nth-child(1) {
	white-space: nowrap;
}
/*10.12.20 Media gallery buttons*/
div.mpp-item-actions.mpp-gallery-actions a, div.mpp-item-actions.mpp-media-actions.mpp-photo-actions a {	
	background-color: white;
	color: black;
    border: 2px solid #30445C;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
div.mpp-item-actions.mpp-gallery-actions a:hover, a:active {	
	background-color: #30445C;
	color: white;
}
#mpp-delete-gallery-agree {
	opacity: 1 !important;	
}
/*19.02.21 Hide Visibility Toogle in User Profile <div> and Register Page <p>*/
div.field-visibility-settings-notoggle, p.field-visibility-settings-notoggle {
	display: none;
}

/*15.03.21 Hide Create Gallery*/
li#gallery-my-gallery-personal-li + li#create-personal-li {
	display: none;
}
div.mpp-item-actions.mpp-gallery-actions a.mpp-delete-gallery {
	display: none;
}
/*11.12.21* Hide Receive message field in View Profile*/
tr.field_18 {
	display: none;
}
/*03.05.21 Hide Gallery and Image Status*/
label[for=mpp-media-status], label[for=mpp-media-status] + div
{
    display:none
}

/*13.09.22*/
.acomment-avatar {
	display:none!important;
}

/*04.01.22*/
#members-dir-search {
	width: 100%
}
/*29.07.21*/
.message-icon:before {
	content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 19px;
    font-weight: 900;
	color: #4dcadd;
}
.addfriend-icon:before {
	content: "\f234";
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-size: 19px;
    font-weight: 900;
	color: #4dcadd;
}
blockquotes {
  background: #f9f9f9;
  border-left: 10px solid #78C0A8;
  padding: 0.5rem 10px;
  quotes: "\201C""\201D""\2018""\2019";
  line-height: 2rem;
}
#buddypress div#item-header div.generic-button, #buddypress div#item-header a.button {
    margin: 10px 0 0 0 !important;
}
/*16.12.13*/
li#requests-personal-li {
	display: none !important;
}